.cardContent {
  padding: 1rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 20px gray;
  border: 0;

  .cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif; 

  .icons {
    display: flex;
    justify-content: space-around;
    width:3rem;
    }
  }

  p {
    
    font-size: 1.1rem;
  }
}