$color-blue-200: #f0f8ff;
$color-blue-300: #578696;
$blue500: #0084ff;
$blue900: #1c3c50;
$gray200: #c8d4dd;
$white: #fff;

$fonts: (
  Thin: 100,
  ExtraLight: 200,
  Light: 300,
  Regular: 400,
  Medium: 500,
  SemiBold: 600,
  Bold: 700,
  ExtraBold: 800,
  Black: 900
);
